# Diese Daten werden nicht mit in das Repository übernommen,
# da sie sensibel sind und sich von Umgebung zu Umgebung unterscheiden können.
# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local
deno_env.json

.DS_Store
